<form class="d-flex" action="/" method="GET">
    <input class="form-control me-2" type="text" name="symbol" placeholder="Search a Company Ticker">
    <button class="btn btn-primary" type="submit">Search</button>
</form>