
<h1>Trading Ideas for *Insert Ticker Symbol* </h1>
<form class="d-flex" action="/" method="GET">
    <input class="form-control me-2" type="text" name="tickers" placeholder="Search a Company Ticker">
    <button class="btn btn-primary" type="submit">Search</button>
</form>

