<footer class="text-center text-white navbar fixed-bottom" id="footer">
  <div class="container-xxl " id="footer-content">
    <section class="text-center col-12">
        <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="https://www.linkedin.com/in/-trevorcampbell"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fa-brands fa-linkedin"></i>
        </a>
        <a
            class="btn btn-link btn-floating btn-lg text-dark m-1"
            href="https://github.com/RareTC"
            role="button"
            data-mdb-ripple-color="dark"
            ><i class="fa-brands fa-github"></i>
        </a>
    </section>
  </div>
  <div class="text-center text-dark p-3 col-12" style="background-color: rgba(0, 0, 0, 0.2);" id="copyright">
    &#169 2023 Copyright: Trevor Campbell API Data Provided By
    <a class="text-dark" href="https://www.stockdata.org/">
        <img alt="StockData.org" width="100px" src="https://www.stockdata.org/website_assets/img/stockdata.org-logo-dark-2.svg">
    </a><br>
    Background Image provided by Starlink
  </div>
</footer>

