<!-- <h2>Credit to StockData API for allowing me access for this project!</h2> -->
<a href="https://www.freepik.com/free-vector/stock-market-illustration-with-bull-bear_1209
458.htm#query=stock%20market&position=2&from_view=keyword&track=ais">Background by starline</a>