<%- include('./partials/header') %>
<main class="main">
    <p>Welcome to <%= title %>, where we help each other make sense of this market!</p>
    <form class="d-flex justify-content-center h-100" action="/tickers" method="GET">
      <input class="form-control me-2" type="text" name="symbol" placeholder="Search by Ticker, separate with a comma - Ex:  SOFI, AAPL, GOOGL">
      <button class="btn btn-primary" id="search-button" type="submit">
        <i class="fa fa-search"></i>
      </button>
    </form>
  </body>
</main>
</html>


<%- include('./partials/footer') %>