body {
  background: url("/images/background.jpg") no-repeat center center fixed;
  background-size: cover;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: rgb(35, 151, 172);
}

.background-font {
  font-size: 10px;
}

a {
  color: rgb(35, 151, 172);
  text-decoration: none;
  font-size: 2vmin;
}
nav {
  border-radius: 40px;
  background-color: rgba(4, 97, 131, 0.7);
  margin-bottom: 4vmin;
}

.brand {
  text-align: center;
}

.nav-link {
  border: solid;
  border-radius: 20px;
  padding: 0.5em;
  background-color: rgba(35, 151, 172, 0.3);;
}

.login {
  display: flex;
  align-items: center;
  height: 34px;
}

.user-logout{
  margin-top: 10px;
}

.Glogo {
  height: 30px;
  width: 30px;
}

.avatar {
  height: 30px;
  width: 30px;
  border-radius: 10px;;
}

.container {
  margin-left: 2vmin;
}

.user-container {
  color: rgb(35, 151, 172);;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  /* margin-right: 2vmin; */
  margin-top: 1vmin;
}

main > p {
  font-size: 20px;
}

 #footer {
  background-color: rgba(4, 97, 131, 0.7);
 }
