body {
  background: url("/images/background.jpg") no-repeat center center fixed;
  background-size: cover;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: rgb(35, 151, 172);
}

#cards {
  background-color: rgba(48, 111, 150, 0.4);
  color:rgb(174, 235, 255);;
  border-color: rgb(174, 235, 255);
  text-align: center;
}

.background-font {
  font-size: 10px;
}

a {
  color: rgb(35, 151, 172);
  text-decoration: none;
  font-size: 2vmin;
}
nav {
  border-radius: 40px;
  background-color: rgba(4, 97, 131, 0.7);
  margin-bottom: 4vmin;
}

.brand {
  text-align: center;
}

.nav-link {
  border: solid;
  border-radius: 20px;
  padding: 0.5em;
  background-color: rgba(35, 151, 172, 0.3);;
}

.login {
  display: flex;
  align-items: center;
  height: 34px;
}

.user-logout{
  margin-top: 10px;
}

.Glogo {
  height: 30px;
  width: 30px;
}

.avatar {
  height: 30px;
  width: 30px;
  border-radius: 10px;;
}

.container {
  margin-left: 2vmin;
}

.user-container {
  color: rgb(35, 151, 172);;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  margin-top: 1vmin;
}

.review-user {
  border-radius: 15px;
  margin-top: 1vmin;
  height: 50px;
}

main > p {
  font-size: 20px;
}

#results {
  background-color: rgba(48, 111, 150, 0.4);
  color: rgb(35, 151, 172);
  border-color: rgb(174, 235, 255);
  text-align: center;
}

.result-font {
  color: rgb(174, 235, 255);
}

#outlook-btn {
  background-color: rgba(4, 97, 131, 0.7);
  color: rgb(35, 151, 172);
  border-radius: 20px;
  padding-top: 0;
  padding-bottom: 0;
}

#outlooks-form {
  border: solid;
  border-color: rgb(174, 235, 255);
}

#outlooks-form-select {
  border: solid;
  border-color: rgb(174, 235, 255);
}

#outlook-submit {
  background: transparent;
  border: transparent;
}

#remove-outlook {
  background-color: rgba(4, 97, 131, 0.7);
  color: rgb(174, 235, 255);
  border-radius: 20px;
}

#strategy-form {
  text-align: center;
  padding: 1vmin;
}

#footer {
  background-color: rgba(4, 97, 131, 0.7);
 }

 #copyright {
  font-size: 10px;
 }
